parameters:
    paths:
        - src/
        - tests/
    exceptions:
        uncheckedExceptionClasses:
            - 'Symfony\Component\Validator\Exception\ConstraintDefinitionException'
            - 'Symfony\Component\Validator\Exception\InvalidOptionsException'
            - 'Symfony\Component\Validator\Exception\MissingOptionsException'

    ignoreErrors:
        # The tests build ORM mapping objects from minimal fixture arrays that do not
        # carry every offset of the fromMappingArray() array shape
        -
            path: tests/Validator/Constraints/EntityValidatorTest.php
            identifier: argument.type

includes:
    - vendor/assoconnect/php-quality-config/phpstan.extension.neon
    - ./phpstan-baseline.neon
