parameters:
    paths:
        - src/
        - tests/
    exceptions:
        uncheckedExceptionClasses:
            - 'Symfony\Component\Validator\Exception\ConstraintDefinitionException'
            - 'Symfony\Component\Validator\Exception\InvalidOptionsException'
            - 'Symfony\Component\Validator\Exception\MissingOptionsException'

includes:
    - vendor/assoconnect/php-quality-config/phpstan.extension.neon
    - ./phpstan-baseline.neon
