parameters:
	ignoreErrors:
		-
			message: "#^Using \\!\\=\\= with class\\-string\\|false and class\\-string\\|false is denied$#"
			count: 1
			path: src/Test/ArrayContainSameObjectsConstraint.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\ConstraintValidatorTestCase extends generic class Symfony\\\\Component\\\\Validator\\\\Test\\\\ConstraintValidatorTestCase but does not specify its types\\: T$#"
			count: 1
			path: src/Test/ConstraintValidatorTestCase.php

		-
			message: "#^Public property `bool` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEmbeddable.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$absoluteDate\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$array\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$bic\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$bigint\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$bigintUnsigned\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$boolean\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$country\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$currency\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$date\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$datetime\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$decimal\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$email\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$embeddable\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$float\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$frenchRNA\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$frenchSIREN\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$iban\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$id\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$integer\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$ip\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$json\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$latitude\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$locale\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$longitude\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$mainParent\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$money\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$notNullable\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$parentNotNullable\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$parentNullable\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$parents\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$percent\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$phone\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$phonelandline\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$phonemobile\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$smallint\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$smallintUnsigned\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$string\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$text\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$timezone\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$uuid\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity has an uninitialized property \\$uuid_binary_ordered_time\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Property AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity\\:\\:\\$decimal cannot have float as its type \\- floats are not allowed\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Property AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity\\:\\:\\$float cannot have float as its type \\- floats are not allowed\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Property AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity\\:\\:\\$money cannot have float as its type \\- floats are not allowed\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Property AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntity\\:\\:\\$percent cannot have float as its type \\- floats are not allowed\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `absoluteDate` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `array` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `bic` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `bigintUnsigned` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `bigint` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `boolean` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `country` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `currency` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `date` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `datetime` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `decimal` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `email` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `embeddable` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `float` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `frenchRNA` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `frenchSIREN` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `iban` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `id` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `integer` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `ip` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `json` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `latitude` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `locale` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `longitude` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `mainParent` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `money` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `notNullable` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `parentNotNullable` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `parentNullable` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `parents` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `percent` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `phone` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `phonelandline` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `phonemobile` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `smallintUnsigned` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `smallint` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `string` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `text` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `timezone` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `uuid_binary_ordered_time` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Public property `uuid` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntity.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntityParent has an uninitialized property \\$id\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntityParent.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Test\\\\Functional\\\\App\\\\Entity\\\\MyEntityParent has an uninitialized property \\$mainChild\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntityParent.php

		-
			message: "#^Public property `id` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntityParent.php

		-
			message: "#^Public property `mainChild` not marked as readonly\\.$#"
			count: 1
			path: src/Test/Functional/App/Entity/MyEntityParent.php

		-
			message: "#^Public property `checkDNS` not marked as readonly\\.$#"
			count: 1
			path: src/Validator/Constraints/Email.php

		-
			message: "#^Public property `dnsMessage` not marked as readonly\\.$#"
			count: 1
			path: src/Validator/Constraints/Email.php

		-
			message: "#^Public property `mode` not marked as readonly\\.$#"
			count: 1
			path: src/Validator/Constraints/Email.php

		-
			message: "#^Public property `tldMessage` not marked as readonly\\.$#"
			count: 1
			path: src/Validator/Constraints/Email.php

		-
			message: "#^Method AssoConnect\\\\ValidatorBundle\\\\Validator\\\\Constraints\\\\EmailValidator\\:\\:validate\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: src/Validator/Constraints/EmailValidator.php

		-
			message: "#^Public property `message` not marked as readonly\\.$#"
			count: 1
			path: src/Validator/Constraints/EmployerIdentificationNumber.php

		-
			message: "#^Method AssoConnect\\\\ValidatorBundle\\\\Validator\\\\Constraints\\\\EmployerIdentificationNumberValidator\\:\\:validate\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: src/Validator/Constraints/EmployerIdentificationNumberValidator.php

		-
			message: "#^Method AssoConnect\\\\ValidatorBundle\\\\Validator\\\\Constraints\\\\EntityValidator\\:\\:getFieldAttributes\\(\\) has parameter \\$reflectionClass with generic class ReflectionClass but does not specify its types\\: T$#"
			count: 1
			path: src/Validator/Constraints/EntityValidator.php

		-
			message: "#^Method AssoConnect\\\\ValidatorBundle\\\\Validator\\\\Constraints\\\\EntityValidator\\:\\:getFieldAttributes\\(\\) return type with generic class ReflectionAttribute does not specify its types\\: T$#"
			count: 1
			path: src/Validator/Constraints/EntityValidator.php

		-
			message: "#^Method AssoConnect\\\\ValidatorBundle\\\\Validator\\\\Constraints\\\\EntityValidator\\:\\:validate\\(\\) has parameter \\$entity with no type specified\\.$#"
			count: 1
			path: src/Validator/Constraints/EntityValidator.php

		-
			message: "#^Overwriting variable \\$value while changing its type from BackedEnum to int\\|string$#"
			count: 1
			path: src/Validator/Constraints/EntityValidator.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Validator\\\\Constraints\\\\FloatScale has an uninitialized property \\$scale\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Validator/Constraints/FloatScale.php

		-
			message: "#^Public property `message` not marked as readonly\\.$#"
			count: 1
			path: src/Validator/Constraints/FloatScale.php

		-
			message: "#^Public property `scale` not marked as readonly\\.$#"
			count: 1
			path: src/Validator/Constraints/FloatScale.php

		-
			message: "#^Method AssoConnect\\\\ValidatorBundle\\\\Validator\\\\Constraints\\\\FloatScaleValidator\\:\\:validate\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: src/Validator/Constraints/FloatScaleValidator.php

		-
			message: "#^Public property `message` not marked as readonly\\.$#"
			count: 1
			path: src/Validator/Constraints/FrenchRna.php

		-
			message: "#^Method AssoConnect\\\\ValidatorBundle\\\\Validator\\\\Constraints\\\\FrenchRnaValidator\\:\\:validate\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: src/Validator/Constraints/FrenchRnaValidator.php

		-
			message: "#^Public property `message` not marked as readonly\\.$#"
			count: 1
			path: src/Validator/Constraints/FrenchSiren.php

		-
			message: "#^Method AssoConnect\\\\ValidatorBundle\\\\Validator\\\\Constraints\\\\FrenchSirenValidator\\:\\:validate\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: src/Validator/Constraints/FrenchSirenValidator.php

		-
			message: "#^Public property `message` not marked as readonly\\.$#"
			count: 1
			path: src/Validator/Constraints/FrenchSiret.php

		-
			message: "#^Method AssoConnect\\\\ValidatorBundle\\\\Validator\\\\Constraints\\\\FrenchSiretValidator\\:\\:validate\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: src/Validator/Constraints/FrenchSiretValidator.php

		-
			message: "#^Public property `message` not marked as readonly\\.$#"
			count: 1
			path: src/Validator/Constraints/LastDigitsUsSocialSecurityNumber.php

		-
			message: "#^Property AssoConnect\\\\ValidatorBundle\\\\Validator\\\\Constraints\\\\Money\\:\\:\\$max cannot have float as its type \\- floats are not allowed\\.$#"
			count: 1
			path: src/Validator/Constraints/Money.php

		-
			message: "#^Property AssoConnect\\\\ValidatorBundle\\\\Validator\\\\Constraints\\\\Money\\:\\:\\$min cannot have float as its type \\- floats are not allowed\\.$#"
			count: 1
			path: src/Validator/Constraints/Money.php

		-
			message: "#^Public property `max` not marked as readonly\\.$#"
			count: 1
			path: src/Validator/Constraints/Money.php

		-
			message: "#^Public property `min` not marked as readonly\\.$#"
			count: 1
			path: src/Validator/Constraints/Money.php

		-
			message: "#^Public property `inexistantMessage` not marked as readonly\\.$#"
			count: 1
			path: src/Validator/Constraints/Phone.php

		-
			message: "#^Public property `invalidCountryCodeMessage` not marked as readonly\\.$#"
			count: 1
			path: src/Validator/Constraints/Phone.php

		-
			message: "#^Public property `message` not marked as readonly\\.$#"
			count: 1
			path: src/Validator/Constraints/Phone.php

		-
			message: "#^Public property `notIntlFormatMessage` not marked as readonly\\.$#"
			count: 1
			path: src/Validator/Constraints/Phone.php

		-
			message: "#^Public property `tooLongMessage` not marked as readonly\\.$#"
			count: 1
			path: src/Validator/Constraints/Phone.php

		-
			message: "#^Public property `tooShortMessage` not marked as readonly\\.$#"
			count: 1
			path: src/Validator/Constraints/Phone.php

		-
			message: "#^Public property `wrongTypeMessage` not marked as readonly\\.$#"
			count: 1
			path: src/Validator/Constraints/Phone.php

		-
			message: "#^Public property `wrongTypeMessage` not marked as readonly\\.$#"
			count: 1
			path: src/Validator/Constraints/PhoneLandline.php

		-
			message: "#^Public property `wrongTypeMessage` not marked as readonly\\.$#"
			count: 1
			path: src/Validator/Constraints/PhoneMobile.php

		-
			message: "#^Method AssoConnect\\\\ValidatorBundle\\\\Validator\\\\Constraints\\\\PhoneValidator\\:\\:validate\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: src/Validator/Constraints/PhoneValidator.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Validator\\\\Constraints\\\\Postal has an uninitialized property \\$countryPropertyPath\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Validator/Constraints/Postal.php

		-
			message: "#^Public property `countryPropertyPath` not marked as readonly\\.$#"
			count: 1
			path: src/Validator/Constraints/Postal.php

		-
			message: "#^Public property `message` not marked as readonly\\.$#"
			count: 1
			path: src/Validator/Constraints/Postal.php

		-
			message: "#^Public property `missingPostalCodeMessage` not marked as readonly\\.$#"
			count: 1
			path: src/Validator/Constraints/Postal.php

		-
			message: "#^Public property `noPostalCodeMessage` not marked as readonly\\.$#"
			count: 1
			path: src/Validator/Constraints/Postal.php

		-
			message: "#^Public property `unknownCountryMessage` not marked as readonly\\.$#"
			count: 1
			path: src/Validator/Constraints/Postal.php

		-
			message: "#^Method AssoConnect\\\\ValidatorBundle\\\\Validator\\\\Constraints\\\\PostalValidator\\:\\:validate\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: src/Validator/Constraints/PostalValidator.php

		-
			message: "#^Public property `message` not marked as readonly\\.$#"
			count: 1
			path: src/Validator/Constraints/Timezone.php

		-
			message: "#^Public property `message` not marked as readonly\\.$#"
			count: 1
			path: src/Validator/Constraints/UsSocialSecurityNumber.php

		-
			message: "#^Method AssoConnect\\\\ValidatorBundle\\\\Validator\\\\Constraints\\\\TimezoneValidator\\:\\:validate\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: src/Validator/Constraints/TimezoneValidator.php

		-
			message: "#^Method AssoConnect\\\\ValidatorBundle\\\\Validator\\\\ConstraintsSetProvider\\\\Field\\\\IntegerProvider\\:\\:getMaxValue\\(\\) cannot have float\\|int as its return type \\- floats are not allowed\\.$#"
			count: 1
			path: src/Validator/ConstraintsSetProvider/Field/IntegerProvider.php

		-
			message: "#^Method AssoConnect\\\\ValidatorBundle\\\\Validator\\\\ConstraintsSetProvider\\\\Field\\\\IntegerProvider\\:\\:getMinValue\\(\\) cannot have float\\|int as its return type \\- floats are not allowed\\.$#"
			count: 1
			path: src/Validator/ConstraintsSetProvider/Field/IntegerProvider.php

		-
			message: "#^Missing native return typehint float$#"
			count: 2
			path: src/Validator/ConstraintsSetProvider/Field/IntegerProvider.php

		-
			message: "#^Class AssoConnect\\\\ValidatorBundle\\\\Tests\\\\Validator\\\\Constraints\\\\PostalValidatorTest extends generic class Symfony\\\\Component\\\\Validator\\\\Test\\\\ConstraintValidatorTestCase but does not specify its types\\: T$#"
			count: 1
			path: tests/Validator/Constraints/PostalValidatorTest.php
